body .sidebar .sidebar-sub-headers
  padding-left: 0.2rem

.theme-container .sidebar > .sidebar-links > li > a.sidebar-link,
.theme-container .sidebar-heading
  font-size: 0.98em
  font-weight: lighter
  color: #686868
  &.active
    color: $accentColor

.sidebar
  border: none
