@import './modules/codes.styl'
@import './modules/navbar.styl'
@import './modules/prism.styl'
@import './modules/sidebar.styl'
@import './modules/title.styl'

.theme-default-content:not(.custom)
  max-width: calc(100vw - 26rem)
  margin: 0 auto
  padding: 2rem 2.5rem

@media (max-width: 720px)
  .theme-default-content:not(.custom)
    max-width: 100vw

body .page-edit,body .page-nav
  max-width: 100%
